#amplify-do-not-edit-begin
\#current-cloud-backend
.config/local-*
logs
mock-data
backend/amplify-meta.json
backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
backend/function/*/src